.searchBar {
    display: flex;
    margin-top: 70px;
  }
  
  #searchSubmit {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  #ref-error{
border-bottom: 1px solid red;
  }

  #error {
      color:red
  }

#cube {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container {
    width:65%;
    margin: 6% 20%;
}

.cuberoot{
    margin-top: 80px;
}